<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Přednášky
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
    <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">Odkaz</a>
 

  <ion-button shape="round" (click)="nactiXml('top')" 
             color="secondary" fill="outline">Nacti xml</ion-button>
  <ion-button shape="round" (click)="ukazXml('top')" 
              fill="outline">Ukaz xml</ion-button>
  <!-- ion-button size="small">Small Button</ion-button -->

  <ion-button expand="block" (click)="presentToast('top')">Show Toast Top Position</ion-button>
  <ion-button expand="block" (click)="presentToastWithOptions('top')">Options</ion-button>
</ion-content>

